.title {
  color: black;
  font-size: 0.82em;
  font-weight: 500;
  margin-bottom: 0;
}
.date {
  color: black;
  font-size: 0.82em;
  font-weight: 400;
  margin-bottom: 0;
}
.content {
  color: black;
  font-size: 0.87em;
  font-weight: 400;
  margin-bottom: 0;
}

div.parent:hover {
  background-color: #ececec33;
}
