@import "../scss/variables";

.sectionbar {
  background-color: $base-red;
  color: $base-white;
  min-height: 75px;
}

.bigtext {
  font-size: 1.5em;
  line-height: 1.2em;
}

.smalltext {
  font-size: 1em;
  line-height: 1.2em;
}
