.value {
  color: white;
  font-size: 1.5em;
  margin-bottom: 0;
  line-height: 1.3em;
}

.title {
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.3em;
}

.card {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
