// Here you can add other styles

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
body {
    font-family: "Montserrat", sans-serif;
    background-color: $base-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: $main-font-color;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.blank-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.pointer {
    cursor: pointer;
}

.custom-control-input-red:focus ~ .custom-control-label::before {
    border-color: $base-red !important;
    box-shadow: 0 0 0 0.2rem rgba(121, 20, 7, 0.25) !important;
}

.custom-control-input-red:checked ~ .custom-control-label::before {
    border-color: $base-red !important;
    background-color: $base-red !important;
}

.custom-control-input-red:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #e61414 !important;
}

.custom-control-input-red:not(:disabled):active ~ .custom-control-label::before {
    background-color: #d6f5dd !important;
    border-color: #d6f5dd !important;
}
