/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $sidebar;
    color: #fff;
    transition: all 0.3s;

    &.active {
        margin-left: -250px;
    }

    .sidebar-header {
        height: 70px;
        padding: 10px;
        background: $sidebar;
        border-bottom: 1px solid #555662;
    }

    ul {
        &.components {
            padding: 20px 0;
            border-bottom: 1px solid #555662;
        }

        p {
            color: #fff;
            padding: 10px;
        }

        li {
            margin-bottom: 10px;
            .side-navlink {
                padding: 10px;
                font-size: 1em;
                display: block;
                color: $main-font-color;

                &:hover {
                    background: #3f414f;
                }

                div {
                    margin-left: 1.3em;
                    span {
                        margin-left: 0.75em;
                    }
                }
            }
        }
    }

    ul li.active > .side-navlink,
    a[aria-expanded="true"] {
        color: #fff;
        background: $base-red;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
