// Variable overrides
$sidebar: #2f353a;
$base-background: #e5e5e5;
$main-font-color: #f9f9f9;
$base-red: #a60808;
$base-white: #fff;
$gray1: #cccdd0;
$black1: #212529;
$base-red-hover: #920808;

:root {
    --fc-button-bg-color: #a60808;
    --fc-button-border-color: #a60808;
    --fc-button-hover-bg-color: #920808;
    --fc-button-hover-border-color: #880c0c;
    --fc-button-active-bg-color: #bb0909;
    --fc-button-active-border-color: #bb0909;
}
